In [2]:
#DATA SET
#https://www.fueleconomy.gov/feg/download.shtml

In [3]:
#import
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
#Load Data
df_08 = pd.read_csv("all_alpha_08.csv") 
df_18= pd.read_csv("all_alpha_18.csv")

In [5]:
df_08.head(2)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales_Area,Stnd,Underhood_ID,Veh_Class,Air_Pollution_Score,FE_Calc_Appr,City_MPG,Hwy_MPG,Cmb_MPG,Unadj_Cmb_ MPG,Greenhouse_Gas_Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no

In [6]:
df_18.head(2)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert_RRegion,Stnd,Stnd_Description,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay,Comb_CO2
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309
1,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXV02.4NH3,small car,3,25,35,29,6,No,309

In [7]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales_Area              2404 non-null object
Stnd                    2404 non-null object
Underhood_ID            2404 non-null object
Veh_Class               2404 non-null object
Air_Pollution_Score     2404 non-null object
FE_Calc_Appr            2205 non-null object
City_MPG                2205 non-null object
Hwy_MPG                 2205 non-null object
Cmb_MPG                 2205 non-null object
Unadj_Cmb_ MPG          2205 non-null float64
Greenhouse_Gas_Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [8]:
dup = df_08[df_08.duplicated()].count()
dup

Model                   25
Displ                   25
Cyl                      6
Trans                    6
Drive                    6
Fuel                    25
Sales_Area              25
Stnd                    25
Underhood_ID            25
Veh_Class               25
Air_Pollution_Score     25
FE_Calc_Appr             6
City_MPG                 6
Hwy_MPG                  6
Cmb_MPG                  6
Unadj_Cmb_ MPG           6
Greenhouse_Gas_Score     6
SmartWay                25
dtype: int64

In [9]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2713 entries, 0 to 2712
Data columns (total 18 columns):
Model                   2713 non-null object
Displ                   2663 non-null float64
Cyl                     2663 non-null float64
Trans                   2713 non-null object
Drive                   2713 non-null object
Fuel                    2713 non-null object
Cert_RRegion            2713 non-null object
Stnd                    2713 non-null object
Stnd_Description        2713 non-null object
Underhood_ID            2713 non-null object
Veh_Class               2713 non-null object
Air_Pollution_Score     2713 non-null int64
City_MPG                2713 non-null object
Hwy_MPG                 2713 non-null object
Cmb_MPG                 2713 non-null object
Greenhouse_Gas_Score    2713 non-null int64
SmartWay                2713 non-null object
Comb_CO2                2713 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 381.6+ KB

In [10]:
df_08.groupby('Fuel').count()

,Model,Displ,Cyl,Trans,Drive,Sales_Area,Stnd,Underhood_ID,Veh_Class,Air_Pollution_Score,FE_Calc_Appr,City_MPG,Hwy_MPG,Cmb_MPG,Unadj_Cmb_ MPG,Greenhouse_Gas_Score,SmartWay
Fuel,,,,,,,,,,,,,,,,,
CNG,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Gasoline,2318,2318,2129,2129,2231,2318,2318,2318,2318,2318,2129,2129,2129,2129,2129,2129,2318
diesel,11,11,7,7,11,11,11,11,11,11,7,7,7,7,7,7,11
ethanol,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ethanol/gas,72,72,66,66,66,72,72,72,72,72,66,66,66,66,66,66,72

In [11]:
df_18.groupby('Fuel').count()

,Model,Displ,Cyl,Trans,Drive,Cert_RRegion,Stnd,Stnd_Description,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay,Comb_CO2
Fuel,,,,,,,,,,,,,,,,,
Diesel,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74
Electricity,46,0,0,46,46,46,46,46,46,46,46,46,46,46,46,46,46
Ethanol/Gas,94,94,94,94,94,94,94,94,94,94,94,94,94,94,94,94,94
Gasoline,2425,2425,2425,2425,2425,2425,2425,2425,2425,2425,2425,2425,2425,2425,2425,2425,2425
Gasoline/Electricity,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70
Hydrogen,4,0,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4

In [12]:
df_08.isna().sum()

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales_Area                0
Stnd                      0
Underhood_ID              0
Veh_Class                 0
Air_Pollution_Score       0
FE_Calc_Appr            199
City_MPG                199
Hwy_MPG                 199
Cmb_MPG                 199
Unadj_Cmb_ MPG          199
Greenhouse_Gas_Score    199
SmartWay                  0
dtype: int64

In [13]:
df_18.isna().sum()

Model                    0
Displ                   50
Cyl                     50
Trans                    0
Drive                    0
Fuel                     0
Cert_RRegion             0
Stnd                     0
Stnd_Description         0
Underhood_ID             0
Veh_Class                0
Air_Pollution_Score      0
City_MPG                 0
Hwy_MPG                  0
Cmb_MPG                  0
Greenhouse_Gas_Score     0
SmartWay                 0
Comb_CO2                 0
dtype: int64

In [14]:
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales_Area,Stnd,Underhood_ID,Veh_Class,Air_Pollution_Score,FE_Calc_Appr,City_MPG,Hwy_MPG,Cmb_MPG,Unadj_Cmb_ MPG,Greenhouse_Gas_Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no

In [15]:
# drop columns from 2008 dataset
df_08.drop(['Stnd', 'Underhood_ID', 'FE_Calc_Appr', 'Unadj_Cmb_ MPG'], axis=1, inplace=True)

# confirm changes
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales_Area,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [16]:
# drop columns from 2018 dataset

# drop columns from 2008 dataset
df_18.drop(['Stnd', 'Stnd_Description', 'Underhood_ID', 'Comb_CO2'], axis=1, inplace=True)

# confirm changes
df_18.head(1)
# confirm changes

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert_RRegion,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No

In [17]:
# replace spaces with underscores and lowercase labels for 2008 dataset
#df_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales_Area,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [18]:
# rename Sales Area to Cert Region
df_08= df_08.rename(columns={"Sales_Area":"Cert_Region"})

# confirm changes
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert_Region,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [19]:
# confirm column labels for 2008 and 2018 datasets are identical
df_08.columns == df_18.columns

array([ True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True])

In [20]:
# make sure they're all identical like this
(df_08.columns == df_18.columns).all()

False

In [21]:
# save new datasets for next section
df_08.to_csv('data_08_v1.csv', index=False)
df_18.to_csv('data_18_v1.csv', index=False)

In [22]:
# load datasets
import pandas as pd

df_08 = pd.read_csv('data_08_v1.csv')
df_18 = pd.read_csv('data_18_v1.csv')

In [23]:
# view dimensions of dataset
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert_Region,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [24]:
# view dimensions of dataset
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert_RRegion,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
0,ACURA ILX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,25,35,29,6,No

In [25]:
# filter datasets for rows following California standards
df_08 = df_08.query('Cert_Region == "CA"')
df_18 = df_18.query('Cert_RRegion == "CA"')

In [26]:
# confirm only certification region is California
df_08['Cert_Region'].unique()

array(['CA'], dtype=object)

In [27]:
df_18['Cert_RRegion'].unique()

array(['CA'], dtype=object)

In [28]:
# drop certification region columns form both datasets
df_08.drop('Cert_Region', axis=1, inplace=True)
df_18.drop('Cert_RRegion', axis=1, inplace=True)

In [29]:
df_08.shape

(1084, 13)

In [30]:
df_18.shape

(1341, 13)

In [31]:
# drop rows with any null values in both datasets
df_18.dropna(inplace=True)
df_08.dropna(inplace=True)

In [32]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

False

In [33]:
# checks if any of columns in 2018 have null values - should print False
df_18.isnull().sum().any()

False

In [34]:
# print number of duplicates in 2008 and 2018 datasets
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

23
10

In [35]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [36]:
# print number of duplicates again to confirm dedupe - should both be 0
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

0
0

In [37]:
# save progress for the next section
df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)

In [38]:
# load datasets
import pandas as pd
df_08 = pd.read_csv('data_08_v2.csv')
df_18 = pd.read_csv('data_18_v2.csv')

In [39]:
# check value counts for the 2008 cyl column
df_08['Cyl'].value_counts()

(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: Cyl, dtype: int64

In [40]:
#https://stackoverflow.com/questions/35376387/extract-int-from-string-in-pandas
# Extract int from strings in the 2008 cyl column
df_08['Cyl'] = df_08['Cyl'].str.extract('(\d+)').astype(int)

In [41]:
# Check value counts for 2008 cyl column again to confirm the change
df_08['Cyl'].value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: Cyl, dtype: int64

In [42]:
# convert 2018 cyl column to int
df_18['Cyl']= (df_18['Cyl']).astype(int)

In [43]:
df_18['Cyl'].value_counts()

4     609
6     420
8     218
12     26
3      21
10      8
5       2
2       2
16      1
Name: Cyl, dtype: int64

In [44]:
df_08.to_csv('data_08_v3.csv', index=False)
df_18.to_csv('data_18_v3.csv', index=False)

In [45]:
# load datasets
import pandas as pd
df_08 = pd.read_csv('data_08_v3.csv')
df_18 = pd.read_csv('data_18_v3.csv')

In [46]:
# try using pandas' to_numeric or astype function to convert the
# 2008 air_pollution_score column to float -- this won't work
#df_08['Air_Pollution_Score'].astype(float)

# Figuring out the issue
# Looks like this isn't going to be as simple as converting the datatype. According to the error above, the air pollution score value in one of the rows is "6/4" - let's check it out.

In [47]:
df_08[df_08.Air_Pollution_Score == '6/4']

,Model,Displ,Cyl,Trans,Drive,Fuel,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

# It's not just the air pollution score!
# The mpg columns and greenhouse gas scores also seem to have the same problem - maybe that's why these were all saved as strings! According to this link, which I found from the PDF documentation:

# "If a vehicle can operate on more than one type of fuel, an estimate is provided for each fuel type."
# Ohh... so all vehicles with more than one fuel type, or hybrids, like the one above (it uses ethanol AND gas) will have a string that holds two values - one for each. This is a little tricky, so I'm going to show you how to do it with the 2008 dataset, and then you'll try it with the 2018 dataset.

In [48]:
# First, let's get all the hybrids in 2008
hb_08 = df_08[df_08['Fuel'].str.contains('/')]
hb_08

,Model,Displ,Cyl,Trans,Drive,Fuel,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [49]:
# hybrids in 2018
hb_18 = df_18[df_18['Fuel'].str.contains('/')]
hb_18

,Model,Displ,Cyl,Trans,Drive,Fuel,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
27,AUDI A3 e-tron,1.4,4,AMS-6,2WD,Gasoline/Electricity,small car,7,34/81,39/86,36/83,10,Elite
85,BMW 330e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,3,28/66,34/78,30/71,10,Yes
111,BMW 530e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,7,27/70,31/75,29/72,10,Elite
112,BMW 530e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,small car,7,27/66,31/68,28/67,10,Elite
127,BMW 740e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,large car,3,25/62,29/68,27/64,9,Yes
169,BMW X5 xDrive40e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,standard SUV,3,23/55,25/57,24/56,8,Yes
175,BMW i3 (94Ah),0.6,2,Auto-1,2WD,Gasoline/Electricity,small car,7,36/117,33/101,35/109,10,Elite
176,BMW i3s (94Ah),0.6,2,Auto-1,2WD,Gasoline/Electricity,small car,7,36/117,33/101,35/109,10,Elite
204,CADILLAC CT6 Plug-In,2.0,4,CVT,2WD,Gasoline/Electricity,midsize car,3,23/56,29/71,25/62,10,Yes
260,CHEVROLET Impala,3.6,6,SemiAuto-6,2WD,Ethanol/Gas,large car,5,14/18,20/28,16/22,4,No
266,CHEVROLET Silverado 15,4.3,6,Auto-6,2WD,Ethanol/Gas,pickup,5,12/18,16/24,14/20,4,No
267,CHEVROLET Silverado 15,4.3,6,Auto-6,4WD,Ethanol/Gas,pickup,5,12/17,15/22,13/19,3,No
268,CHEVROLET Silverado 15,5.3,8,Auto-6,2WD,Ethanol/Gas,pickup,3,12/16,17/23,14/19,3,No
271,CHEVROLET Silverado 15,5.3,8,Auto-6,4WD,Ethanol/Gas,pickup,3,11/16,16/22,13/18,3,No
296,CHEVROLET Suburban 1500,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
298,CHEVROLET Suburban 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/15,15/22,12/18,3,No
300,CHEVROLET Tahoe 1500,5.3,8,Auto-6,2WD,Ethanol/Gas,standard SUV,3,12/16,17/23,14/19,3,No
302,CHEVROLET Tahoe 1500,5.3,8,Auto-6,4WD,Ethanol/Gas,standard SUV,3,11/16,16/22,13/18,3,No
311,CHEVROLET Volt,1.5,4,CVT,2WD,Gasoline/Electricity,small car,3,43/113,42/99,42/106,10,Yes
312,CHEVROLET Volt,1.5,4,CVT,2WD,Gasoline/Electricity,small car,7,43/113,42/99,42/106,10,Elite
313,CHRYSLER 300,3.6,6,Auto-8,2WD,Ethanol/Gas,large car,3,14/19,22/30,17/23,5,No
315,CHRYSLER 300,3.6,6,Auto-8,4WD,Ethanol/Gas,large car,3,13/18,20/27,16/21,4,No
320,CHRYSLER Pacifica Hybrid,3.6,6,CVT,2WD,Gasoline/Electricity,minivan,7,32/89,33/78,32/84,10,Elite
331,DODGE Charger,3.6,6,Auto-8,2WD,Ethanol/Gas,large car,3,14/19,22/30,17/23,5,No
333,DODGE Charger,3.6,6,Auto-8,4WD,Ethanol/Gas,large car,3,13/18,20/27,16/21,4,No
414,FORD F150 FFV,3.3,6,SemiAuto-6,2WD,Ethanol/Gas,pickup,5,14/20,19/25,16/22,4,No
415,FORD F150 FFV,3.3,6,SemiAuto-6,4WD,Ethanol/Gas,pickup,5,13/18,17/23,15/20,4,No
416,FORD F150 FFV,3.3,6,SemiAuto-6,4WD,Ethanol/Gas,pickup,5,14/17,17/22,15/19,3,No
417,FORD F150 FFV,5.0,8,SemiAuto-10,2WD,Ethanol/Gas,pickup,3,12/16,17/20,14/17,3,No
418,FORD F150 FFV,5.0,8,SemiAuto-10,2WD,Ethanol/Gas,pickup,3,12/17,17/23,14/19,3,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,HYUNDAI Sonata plug-in hybrid,2.0,4,AutoMan-6,2WD,Gasoline/Electricity,midsize car,7,37/99,42/100,39/99,10,Elite
679,JEEP Cherokee,2.4,4,Auto-9,2WD,Ethanol/Gas,small SUV,3,15/21,22/30,18/25,5,No
681,JEEP Cherokee,2.4,4,Auto-9,4WD,Ethanol/Gas,small SUV,3,14/21,21/28,17/23,5,No
704,JEEP Renegade,2.4,4,Auto-9,2WD,Ethanol/Gas,small SUV,3,16/22,23/30,19/25,5,No
715,KARMA Revero,2.0,4,Auto-1,2WD,Gasoline/Electricity,small car,1,20/59,21/61,20/60,10,No
729,KIA Niro Plug-in Hybrid,1.6,4,AutoMan-6,2WD,Gasoline/Electricity,station wagon,7,48/110,44/99,46/105,10,Elite
740,KIA Optima plug-in hybrid,2.0,4,AutoMan-6,2WD,Gasoline/Electricity,midsize car,7,38/103,43/104,40/103,10,Elite
935,MERCEDES-BENZ C350e,2.0,4,Auto-7,2WD,Gasoline/Electricity,small car,7,28/45,32/61,30/51,9,Yes
937,MERCEDES-BENZ CLA250 4Matic,2.0,4,AutoMan-7,4WD,Ethanol/Gas,small car,5,17/24,24/32,20/27,6,No
946,MERCEDES-BENZ GLA250 4Matic,2.0,4,AutoMan-7,4WD,Ethanol/Gas,small SUV,5,17/23,23/31,19/26,5,No
951,MERCEDES-BENZ GLC 350e 4Matic,2.0,4,Auto-7,4WD,Gasoline/Electricity,small SUV,7,24/55,27/57,25/56,9,Yes
953,MERCEDES-BENZ GLE350 4Matic,3.5,6,Auto-7,4WD,Ethanol/Gas,standard SUV,3,13/18,17/22,14/19,3,No
955,MERCEDES-BENZ GLE550e 4Matic,3.0,6,Auto-7,4WD,Gasoline/Electricity,standard SUV,6,20/38,23/50,21/43,7,Yes
995,MINI Cooper SE Countryman All4,1.5,3,SemiAuto-6,4WD,Gasoline/Electricity,midsize car,3,28/63,27/66,27/65,9,Yes
1015,MITSUBISHI Outlander PHEV,2.0,4,Auto-1,4WD,Gasoline/Electricity,small SUV,7,25/78,26/70,25/74,10,Elite
1120,PORSCHE Cayenne S e-Hybrid,3.0,6,AutoMan-8,4WD,Gasoline/Electricity,standard SUV,3,21/47,24/46,22/47,8,Yes
1138,PORSCHE Panamera 4 e-Hybrid,2.9,6,AMS-8,4WD,Gasoline/Electricity,large car,5,20/40,25/57,22/46,8,Yes
1139,PORSCHE Panamera 4 e-Hybrid Executive,2.9,6,AMS-8,4WD,Gasoline/Electricity,large car,5,20/40,25/57,22/46,8,Yes
1140,PORSCHE Panamera 4 e-Hybrid ST,2.9,6,AMS-8,4WD,Gasoline/Electricity,large car,5,20/40,25/57,22/46,8,Yes
1146,PORSCHE Panamera Turbo S e-Hybrid,4.0,8,AMS-8,4WD,Gasoline/Electricity,large car,3,19/48,23/51,21/49,7,Yes
1147,PORSCHE Panamera Turbo S e-Hybrid Exec,4.0,8,AMS-8,4WD,Gasoline/Electricity,large car,3,19/48,23/51,21/49,7,Yes
1148,PORSCHE Panamera Turbo S e-Hybrid ST,4.0,8,AMS-8,4WD,Gasoline/Electricity,large car,3,19/48,23/51,21/49,7,Yes
1152,RAM 1500,3.6,6,Auto-8,2WD,Ethanol/Gas,pickup,3,12/17,17/25,14/20,4,No
1153,RAM 1500,3.6,6,Auto-8,4WD,Ethanol/Gas,pickup,3,11/16,16/23,13/19,3,No
1222,TOYOTA Prius Prime,1.8,4,CVT,2WD,Gasoline/Electricity,midsize car,7,55/145,53/121,54/133,10,Elite
1231,TOYOTA Sequoia FFV,5.7,8,SemiAuto-6,4WD,Ethanol/Gas,standard SUV,5,9/13,13/17,10/14,1,No
1244,TOYOTA Tundra FFV,5.7,8,SemiAuto-6,4WD,Ethanol/Gas,pickup,5,9/13,12/17,10/15,2,No
1290,VOLVO S90,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,midsize car,7,26/70,33/72,29/71,10,Elite
1302,VOLVO XC60,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,small SUV,7,26/60,28/58,26/59,10,Elite
1306,VOLVO XC90,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,standard SUV,7,26/63,30/61,27/62,10,Elite

In [50]:
# create two copies of the 2008 hybrids dataframe
df1 = hb_08.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb_08.copy()  # data on second fuel type of each hybrid vehicle

# Each one should look like this
df1

,Model,Displ,Cyl,Trans,Drive,Fuel,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [51]:
# columns to split by "/"
split_columns = ['Fuel', 'Air_Pollution_Score', 'City_MPG', 'Hwy_MPG', 'Cmb_MPG', 'Greenhouse_Gas_Score']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [52]:
df1

,Model,Displ,Cyl,Trans,Drive,Fuel,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no

In [53]:
df2

,Model,Displ,Cyl,Trans,Drive,Fuel,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [54]:
# combine dataframes to add to the original dataframe
new_rows = df1.append(df2)

# now we have separate rows for each fuel type of each vehicle!
new_rows

,Model,Displ,Cyl,Trans,Drive,Fuel,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [55]:
# drop the original hybrid rows
df_08.drop(hb_08.index, inplace=True)

# add in our newly separated rows
df_08 = df_08.append(new_rows, ignore_index=True)

In [56]:
df_08.shape

(987, 13)

In [57]:
# create two copies of the 2018 hybrids dataframe, hb_18
df1 = hb_18.copy()
df2 = hb_18.copy()

In [58]:
# list of columns to split
split_columns = ['Fuel', 'City_MPG', 'Hwy_MPG', 'Cmb_MPG']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [59]:
# append the two dataframes
new_rows = df1.append(df2)

# drop each hybrid row from the original 2018 dataframe
# do this by using Pandas drop function with hb_18's index
df_18.drop(hb_18.index, inplace=True)

# append new_rows to df_18
df_18 = df_18.append(new_rows, ignore_index=True)

In [60]:
# check that they're gone
df_18[df_18['Fuel'].str.contains('/')]

Empty DataFrame
Columns: [Model, Displ, Cyl, Trans, Drive, Fuel, Veh_Class, Air_Pollution_Score, City_MPG, Hwy_MPG, Cmb_MPG, Greenhouse_Gas_Score, SmartWay]
Index: []

In [61]:
# convert string to float for 2008 air pollution column
df_08.Air_Pollution_Score = df_08.Air_Pollution_Score.astype(float)

In [62]:
# convert string to float for 2008 air pollution column
df_18.Air_Pollution_Score = df_18.Air_Pollution_Score.astype(float)

In [63]:
df_08.to_csv('data_08_v4.csv', index=False)
df_18.to_csv('data_18_v4.csv', index=False)

In [64]:
# load datasets
import pandas as pd

df_08 = pd.read_csv('data_08_v4.csv')
df_18 = pd.read_csv('data_18_v4.csv')

In [65]:
# convert mpg columns to floats
mpg_columns = ['City_MPG', 'Hwy_MPG', 'Cmb_MPG']
for c in mpg_columns:
    df_18[c] = df_18[c].astype(float)
    df_08[c] = df_08[c].astype(float)

In [66]:
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score,SmartWay
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no

In [67]:
# convert from float to int
df_08['Greenhouse_Gas_Score'] = df_08['Greenhouse_Gas_Score'].astype(int)

In [68]:
df_08.dtypes

Model                    object
Displ                   float64
Cyl                       int64
Trans                    object
Drive                    object
Fuel                     object
Veh_Class                object
Air_Pollution_Score     float64
City_MPG                float64
Hwy_MPG                 float64
Cmb_MPG                 float64
Greenhouse_Gas_Score      int32
SmartWay                 object
dtype: object

In [69]:
df_18.dtypes

Model                    object
Displ                   float64
Cyl                       int64
Trans                    object
Drive                    object
Fuel                     object
Veh_Class                object
Air_Pollution_Score     float64
City_MPG                float64
Hwy_MPG                 float64
Cmb_MPG                 float64
Greenhouse_Gas_Score      int64
SmartWay                 object
dtype: object

In [70]:
df_08.dtypes == df_18.dtypes

Model                    True
Displ                    True
Cyl                      True
Trans                    True
Drive                    True
Fuel                     True
Veh_Class                True
Air_Pollution_Score      True
City_MPG                 True
Hwy_MPG                  True
Cmb_MPG                  True
Greenhouse_Gas_Score    False
SmartWay                 True
dtype: bool

In [71]:
# Save your final CLEAN datasets as new files!
df_08.to_csv('clean_08.csv', index=False)
df_18.to_csv('clean_18.csv', index=False)